<img src="https://graph.facebook.com/<%= @username %>/picture"/>
<p>Hi,</p>
<p>My name's <%= @full_name %> and i'm from <%= @location %></p>
<p>Please, send me a message on my  <a href="<%= @link %>">facebook</a></p>

<br/>
<br/>
<p>Here's my friends list:</p>
<ul>
<% @friends.each do |friend| %>
	<li>
		<img src="http://graph.facebook.com/<%= friend["id"] %>/picture" />
		<%= friend["name"] %>
	</li>
<% end %>
</ul>